*{
  margin: 0;
  padding: 0;
}
.Header {
  background-color: rgb(241, 202, 236);
  top: 0;
  left: 0;
  width:100%;
  text-align: center;
  height: 90px;
  display: flex;
  color: #2c3e50;
} 

.Header h2 {
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 40px;
}

.Header H4 {
  padding-top: 30px;
  font-size: 30px;
  margin-left: 400px;
  margin-right: 0 ;
}

.nav-bar {
  background-color: #2c3e50; 
  padding-top: 15px;
  height: 50px;
  width: 100%;
}

.nav-options {
  list-style: none;
  display: flex;
  justify-content: space-around; 
  margin-right: 50px;
  padding: 0;
}

.nav-options li {
  margin: 0 1rem;
  color: #ecf0f1; 
  font-weight: 500;
  cursor: pointer;
  font-size: 18px;
  
}

.nav-options a {
  color: rgb(241, 202, 236); 
  text-decoration: none;
}

.nav-options a:hover {
  color: rgb(231, 160, 222); 
}

.nav-options a:active {
  color: rgb(212, 121, 200); 
}

.footer {
  background-color: #2c3e50;
  color: #f1caec;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.group {
  text-align: left;
}

.group h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.group ul {
  list-style: none;
  padding: 0;
}

.group li {
  font-size: 14px;
  margin-top: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 16px;
  margin-bottom: 10px;
}

.icon-container {
  display: flex;
  gap: 15px;
}

.icon {
  color: #f1caec;
  font-size: 24px;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #e8a3d6;
}


.logo {
  width: 100px;
  height: 100px;
}

.group-names {
  text-align: center;
}

.group-names li{
  margin-top: 5px;
}

.hero {
  border: 0.5px solid #c0baba;
  border-radius: 10px;
  margin: 20px 30px 20px 30px;
  padding: 30px 0px 30px 40px;
  display: flex;
  justify-content:space-evenly;
}

.women {
  width: 300px;
  height:400px;

}

.hero-content {
  max-width: 50%;
  text-align: left;
  margin: 20px auto;
}

.hero-content h2 {
  font-size: 28px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.hero-content h3 {
  font-size: 22px;
  color: #5a5a5a;
  margin-bottom: 20px;
}

.join-btn {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.join-btn:hover {
  background-color: #1a252f;
}