.post-card {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .post-card:hover {
    background-color: #e9ecef;
  }
  
  .delete-btn {
    background-color: #2c3e50;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #34495e;
  }
  .posts-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .new-post-btn {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
  }
  
  .new-post-btn:hover {
    background-color: rgb(241, 202, 236);;
  }
  .post-page {
    width: 80%;
    margin: 2rem auto;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #2c3e50;
  }
        